<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="vn">
<head>
    <title>Kích hoạt tài khoản</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="#{email.activation.greeting(${user.username})}" style="color: lawngreen">
    Dear
</p>
<p>
    Cảm ơn bạn đã lựa chọn dịch vụ của chúng tôi, vui lòng bấm vào đây để kích hoạt tài khoản của bạn:
</p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="margin: 15px; max-width: 600px !important;">
    <tbody>
    <tr>
        <td style="border-collapse:collapse;border-radius:2px;text-align:center;display:block;border:solid 1px #007bff;background:#007bff;padding:15px 16px 15px 16px;width:220px;margin-left: 190px">
            <a th:href="${url}" style="color:#007bff;text-decoration:none;display:block"
               th:with="url=(@{|${baseUrl}/account/activate?key=${user.activationKey}|})">
            <span style="font-family:Arial,Helvetica,sans-serif;font-size:14px;white-space:nowrap;font-weight:bold;vertical-align:middle;color:#ffffff;line-height:14px"
                  th:text="#{email.activation.button}">
                Kích hoạt tài khoản
            </span>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<p>Key: <span th:text="${user.activationKey}" style="color: lawngreen"></span></p>
<p style="margin-top: 15px">
    <span>Trân trọng!</span>
</p>
</body>
</html>
